html {
    height:100%;
}

/* 页面背景为一张图片，长宽 100% 充满，并且有一定的透明度 */
body {
    margin: 0;
    padding: 0;
    height:100%;
    background:linear-gradient(45deg,
            rgba(255,255,255,0),
            rgba(255,255,255,0.4) 70%,
            rgba(255,255,255,1)),
            url("/images/girl.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
}


.example-appear {
    transform: translateX(-600px);
}

.example-appear.example-appear-active {
    transform: translateX(0px);
    transition: transform 0.5s ease-in;

}

.example-enter {
    transform: translateX(-600px);
}

.example-enter.example-enter-active {
    transform: translateX(0px);
    transition: transform 0.5s ease-in;

}

.example-leave {
    opacity: 1;
    transform: translateX(0px);
}

.example-leave.example-leave-active {
    opacity: 0;
    transform: translateX(-600px);
    transition: opacity 0.5s ease-out,transform 0.5s ease-in;

}





.slidein {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}